<div class="sky-padding-even-large">

  <!-- Value and State -->
  <div>
    <h2>Value and State</h2>
    <div>
      <h3>Reactive form</h3>
      <form
        [formGroup]="formGroup"
        novalidate
        class="sky-margin-stacked-compact"
      >
        <input
          class="sky-form-control"
          formControlName="donationAmount"
          type="text"
          [skyAutonumeric]="autonumericOptions"
        />
      </form>
      <debug-form-control-state [control]="formGroup.controls.donationAmount"></debug-form-control-state>
    </div>

    <div>
      <h3>Template-driven form</h3>
      <form
        #templateDrivenForm="ngForm"
        class="sky-margin-stacked-compact"
      >
        <input
          class="sky-form-control"
          name="donationAmount"
          required
          type="text"
          [disabled]="disabled"
          [skyAutonumeric]="autonumericOptions"
          [(ngModel)]="templateDrivenModel.donationAmount"
          #donationAmount="ngModel"
        />
      </form>
      <debug-form-control-state [control]="donationAmount"></debug-form-control-state>
    </div>

    <div>
      <h3>Modify value and state</h3>
      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="setValue()"
      >
        Set value
      </button>

      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="clearValue()"
      >
        Clear value
      </button>

      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="setOptions()"
      >
        Set options
      </button>

      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="setOptionsByPreset()"
      >
        Set options by preset
      </button>

      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="setOptionsToCustom()"
      >
        Set options to custom
      </button>

      <button
        class="sky-btn sky-margin-inline-compact"
        type="button"
        (click)="onDisableClick()"
      >
        Toggle disabled
      </button>

      <pre>{{ autonumericOptions | json }}</pre>
    </div>
  </div>

  <hr />

  <!-- Sky Autonumeric Defaults -->
  <div>
    <h2>SkyAutonumericDefaults</h2>

    <div>
      <h3>Currency</h3>
      <form
        [formGroup]="currencyForm"
        class="sky-margin-stacked-compact"
      >
        <input
          class="sky-form-control"
          formControlName="currency"
          type="text"
          [skyAutonumeric]="{}"
          [skyAutonumericDefaults]="currencyDefault"
        />
      </form>
    </div>

    <div class="sky-margin-stacked-compact">
      <select class="sky-margin-inline-compact" #selectedLocale (change)="setCurrencyLocale(selectedLocale.value)">
        <option>en-US</option>
        <option>en-CA</option>
        <option>en-GB</option>
        <option>en-ES</option>
        <option>es-MX</option>
        <option>fr-FR</option>
        <option>ja-JP</option>
      </select>
      <select #selectedCurrency (change)="setCurrency(selectedCurrency.value)">
        <option>USD</option>
        <option>CAD</option>
        <option>EUR</option>
        <option>JPY</option>
        <option>GBP</option>
        <option>AUD</option>
      </select>
    </div>

  </div>
</div>
