<div style="padding:30px;">
  <form
    [formGroup]="formGroup"
    novalidate
  >
    <input
      class="sky-form-control"
      formControlName="donationAmount"
      type="text"
      [skyAutonumeric]="autonumericOptions"
    />
  </form>

  <pre>Pristine: {{formGroup.controls.donationAmount.pristine}}</pre>
  <pre>Touched: {{formGroup.controls.donationAmount.touched}}</pre>
  <pre>Valid: {{formGroup.controls.donationAmount.valid}}</pre>

  <button
    class="sky-btn"
    type="button"
    (click)="setValue()"
  >
    Set value
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="clearValue()"
  >
    Clear value
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="setOptionsByPreset()"
  >
    Set language preset
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="setOptions()"
  >
    Set options
  </button>

</div>
