<div style="padding:30px;">
  <h2>
    Reactive form
  </h2>

  <form
    [formGroup]="formGroup"
    novalidate
    style="display: flex; flex-flow: row;"
  >
    <div class="sky-form-group sky-margin-inline-default">
      <label class="sky-control-label">Default debounce time</label>
      <input
        class="sky-form-control"
        formControlName="donationAmount"
        type="text"
        [skyAutonumeric]="autonumericOptions"
      />
      <form-control-viewer [control]="formGroup.controls.donationAmount"></form-control-viewer>
    </div>

    <div class="sky-form-group">
      <label class="sky-control-label">Configurable debounce time (0 ms)</label>
      <input
        class="sky-form-control"
        formControlName="debouncedAmount"
        type="text"
        [skyAutonumeric]="autonumericOptions"
        skyAutonumericDebounceTime="0"
      />
      <form-control-viewer [control]="formGroup.controls.debouncedAmount"></form-control-viewer>
    </div>
  </form>

  <h2>
    Template-driven form
  </h2>

  <form
    #templateDrivenForm="ngForm"
    style="display: flex; flex-flow: row;"
  >
    <div class="sky-form-group sky-margin-inline-default">
      <label class="sky-control-label">Default debounce time</label>
      <input
        class="sky-form-control"
        name="donationAmount"
        required
        type="text"
        [disabled]="disabled"
        [skyAutonumeric]="autonumericOptions"
        [(ngModel)]="templateDrivenModel.donationAmount"
        #donationAmount="ngModel"
      />
      <form-control-viewer [control]="donationAmount"></form-control-viewer>
    </div>
    <div class="sky-form-group sky-margin-inline-default">
      <label class="sky-control-label">Configurable debounce time (0ms)</label>
      <input
        class="sky-form-control"
        name="debouncedDonationAmount"
        required
        type="text"
        [disabled]="disabled"
        [skyAutonumeric]="autonumericOptions"
        [(ngModel)]="templateDrivenModel.debouncedDonationAmount"
        #debouncedDonationAmount="ngModel"
      />
      <form-control-viewer [control]="debouncedDonationAmount"></form-control-viewer>
    </div>
  </form>

  <h2>
    Modify value and state
  </h2>

  <button
    class="sky-btn"
    type="button"
    (click)="setValue()"
  >
    Set value
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="clearValue()"
  >
    Clear value
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="setOptions()"
  >
    Set options
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="setOptionsByPreset()"
  >
    Set options by preset
  </button>

  <button
    class="sky-btn"
    type="button"
    (click)="onDisableClick()"
  >
    Toggle disabled
  </button>
</div>
